<div class="top-padding">  
  <div id="box">
    <div id="theTarget">
      <%= image_tag 'topimage01.jpg' %>
      <%= image_tag 'topimage02.jpg' %>
      <%= image_tag 'topimage03.jpg' %>
      <%= image_tag 'topimage04.jpg' %>
      <%= image_tag 'topimage05.jpg' %>
    </div>
  </div>
</div>

<div class="container-fluid top-group">
  <div class="row">
    <div class="col-xs-offset-2">
      <h3 class="under-border">新商品</h3>    
    </div>
  </div>

  <div class="row">
    <div class = "col-xs-2">
      <%= render 'products/genrebox', genres: @genres %>
    </div>
    <% @products.last(4).each do |product| %>
      <div class="col-xs-2">
        <div class="imgWrap">
          <%= link_to product_path(product) do %>
            <%= attachment_image_tag product, :image, :limit, 200, 200, fallback: "no-image.png",size: "200x200",class: "img-hover" %>
          <% end %>
        </div>
        <div>
          <span><%= product.name %></span>
        </div>
        <div>
          <span><%= disp_tax_price(product.unit_price) %>円</span>
        </div>
      </div>
    <% end %>      
  </div>
</div>
</div>
  <div class="col-xs-offset-10">
  	<%= link_to "もっと見る＞＞" ,products_path %>
  </div>
