<div class="container">
  <%= form_with url: admin_product_path(@product) ,model: @product,local: true do |f| %>
  <div class="row">
    <h3 class="under-border">商品 編集画面</h3>
      <%= render 'layouts/error_messages', model: @product %>
      <div class="col-xs-4">
      <%= attachment_image_tag @product, :image, :limit, 300, 300, fallback: "no-image.png",size: "300x300",id:"prev_img" %>
        <div class="col-xs-7 col-xs-offset-1">
          <label for="post_img" class= "btn btn-primary btn-block label-img">
            <%= f.attachment_field :image,id: :post_img, class: "hidden" %>
            画像選択
          </label>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="form-group row">
          <div class="col-xs-2">
            <%= f.label :name, "商品名" %>
          </div>
        <div class="col-xs-6">
          <%= f.text_field :name , value: @product.name,class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-2">
          <%= f.label :description, "商品説明" %>
        </div>
        <div class="col-xs-6">
          <%= f.text_area :description , value: @product.description,class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-2">
          <%= f.label :genre_id, "ジャンル" %>
        </div>
        <div class="col-xs-6">
          <%= f.collection_select :genre_id, Genre.all, :id,:genre,{prompt: @product.genre_id}, class: "form-control"  %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-2">
          <%= f.label :unit_price, "税抜価格" %>
        </div>
        <div class="col-xs-6">
        <%= f.number_field :unit_price, value: @product.unit_price,class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-2">
          <%= f.label :status, "販売ステータス" %>
        </div>
        <div class="col-xs-6">
          <%= f.select :status, [[t('enums.product.status.true'),true],[t('enums.product.status.false'),false]],{prompt: "--選択してください--"},class: "form-control" %>
        </div>
      </div>
    </div>
  </div>  
  <div class="text-right">
    <%= f.submit "変更を保存" ,class: "btn btn-primary" %>
    <% end %>
  </div>
</div>