<div class="container">
  <div class="row">
    <h3 class="under-border">商品一覧</h3>
    <div class="col-xs-11">
      <div class="text-right">
        <%= link_to "+",new_admin_product_path, class: "btn btn-primary" %>
      </div>

      <table class="table">
        <thead>
          <tr class="active">
            <th>ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td><%= link_to product.name,admin_product_path(product.id) %></td>
              <td><%= disp_price(product.unit_price) %></td>
              <td><%= product.genre.genre %></td>
              <td><%= t("enums.product.status.#{product.status}") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
    <%= paginate @products %>
</div>


