
<div class="container product-top">
 <div class="row">
  <div class="col-xs-2">
    <%= render 'genrebox', genres: @genres %>
  </div>

  <div class="col-xs-9">
    <div class="row">

<!-- 画像 -->

        <div class="col-xs-4 product-show">
          <%= attachment_image_tag @product, :image, :limit, 300, 300, fallback: "no-image.png",size: "300x300" %>
        </div>

<!-- 商品名 -->
      <div class="col-xs-6 product-status">
        <div class="col-xs-8">
          <h2><%= @product.name %></h2>
        </div>

<!-- 商品説明 -->
        <div class="col-xs-12">
          <p><%= @product.description %></p>
        </div>

<!-- 価格 -->
        <div class="col-xs-8">
          <h2>¥<%= disp_tax_price(@product.unit_price)%>円(税込)</h2>
        </div>

      </div>
    </div>

<!-- 個数選択 -->
    <div class="col-md-3 col-md-offset-9">


        <div class="text-right">
            <%= form_for @cart do |f| %>
            <%= f.select :units, Array.new(99){|index| ["#{index+ 1}個",index+1] }, {}, {class: 'form-control'} %>
            <%= f.hidden_field :product_id, :value => @product.id%><br>
            <%= f.submit 'カートにいれる', class: "btn btn-primary"%>
            <% end %>
        </div>

    </div>

  </div>
</div>
</div>
